Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

# MIME types
AddType application/javascript .js .mjs
AddType text/css .css
AddType image/svg+xml .svg
AddType application/json .json
AddType font/woff2 .woff2
AddType font/woff .woff
